{% extends "@admin/layout.twig" %}

{% block content %}
    <div class="box box-primary">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Job</th>
                    <th>Message</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th width="150px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                <tr>
                    <td width="1">
                        {% if job.status == 0 %}
                        <span class="label label-info">Pending</span>
                        {% elseif job.status == 1 %}
                        <span class="label label-warning">Running</span>
                        {% elseif job.status == 2 %}
                        <span class="label label-success">Success</span>
                        {% elseif job.status == 3%}
                        <span class="label label-danger">Failed</span>
                        {% endif %}
                    </td>
                    <td>{{ handlers[job.type].name }}</td>
                    <td>{{ job.message }}</td>
                    <td>{{ job.date_created|date("Y-m-d H:i:s") }}</td>
                    <td>{{ job.date_updated|date("Y-m-d H:i:s") }}</td>
                    <td>
                        {% if user.canAccess("/job/delete") %}
                        <a class="btn btn-danger btn-sm" href="{{ adminUri }}/job/delete/{{ job.id }}"><i class="fa fa-trash"></i> Delete</a>
                        {% endif %}

                        {% if (job.status == 0 or job.status > 1) and user.canAccess("/job/queue") %}
                        <a class="btn btn-default btn-sm" href="{{ adminUri }}/job/retry/{{ job.id }}"><i class="fa fa-cogs"></i> Retry</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}